.AboutClinic {
  &-Outer {
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.38)),
      url(../../images/about_clinic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
  }

  & > p {
    color: #fdfafa;
    font-size: 1.5rem;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: #fdfafa;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #ffee29;
    }
  }

  &-Price {
    margin-top: 25px;
    margin-bottom: 25px !important;
  }
}

@include mq-max(767px) {
  .AboutClinic {
    & > p {
      font-size: 1.2rem;
    }
  }
}

@include mq-max(360px) {
  .AboutClinic {
    & > p {
      font-size: 1.1rem;
    }
  }
}
