.AboutClinic-Outer.Section.Container_Wide.Text_Center
  h2.Section-Title Ветеринарная клиника Вятского ГАТУ
  .AboutClinic
    p Ветеринарная клиника Вятского ГАТУ открывает свои двери.
    p.AboutClinic-Price
      a(href="./docs/price.pdf" target="_blank" rel="noopener") Перечень оказываемых нами услуг
    //p Записывайтесь на прием!
    //p Телефон: 
      a(href="tel:+79513560225" target="_blank" rel="noopener") 8-951-356-02-25
    //p Email: 
      a(href="mailto:soszoo@vgsha.info" target="_blank" rel="noopener") soszoo@vgsha.info
    p Мы рады всем!
