.Map-Outer.Container_Wide
  h2.Section-Title.Map-Title.Text_Center Наши контакты
  .Map-Contacts.Text_Center
    p Ждем вас на прием!
    p Телефон: 
      a(href="tel:+79513560225" target="_blank" rel="noopener") 8 (951) 356 02 25
    p Email: 
      a(href="mailto:soszoo@vgsha.info" target="_blank" rel="noopener") soszoo@vgsha.info
  .Map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2db21c393963c2bdf096509e6c1b94a00b5014fe6c76cdb098ca94d69d031f46&amp;width=100%25&amp;height=550&amp;lang=ru_RU&amp;scroll=true"></script>